html 
    head 
        title= title
        link(rel="stylesheet", href="/css/css-forms.css")
        script(src='/js/js-forms.js')
    body 
        div(class="block" id="main")
            div(class="block" id="subMain")
                each forms in formsArray
                    div(class="block" id="content")
                        each form in forms 
                            div(class="container" id="form")
                                img(src=`${form.imgPath}`, alt="")
                                p(class="text" id="question")= form.name
                                button(onClick=`openForm(${form.id})`) Перейти