p {
    text-align: justify;
}

input {
    display: block;
    padding: 8px;
    width: 360px;
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
    padding: 3px 9px;
}

#headerInputs {
    padding: 8px 9px;
    margin-bottom: 20px;
}

.block#main {
    display: flex;
    justify-content: center;
}

.block#subMain {
    margin-top: 40px;
    width: 800px;
    background-color: #9896F1;
    padding: 50px 0;
    border-radius: 7px;
    margin-bottom: 40px;
}

.block#content,
.block#header,
.block#panel {
    padding: 0 80px;
    text-align: left;
}

.block#panel {
    margin-top: 50px;
    margin-bottom: -20px;
    display: flex;
    justify-content: space-between;
}

.questionContainer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.button {
    background-color: #D59BF6;
    border-radius: 6px;
    width: 200px;
    height: 40px;
    transition: background-color 0.3s;
    font-size: 20px;
    font-weight: 700;
}

.button:hover {
    transition: 0.3s;
    background-color: #ff89f5;
}

.variantInput {
    font-size: 17px;
}

#addVariant {
    height: 30px;
    width: 30px;
    background: url('http://localhost/img/add.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#addVariant:hover {
    background-color: rgb(69, 198, 81);
}

#removeQuestion,
.removeVariant {
    height: 30px;
    width: 30px;
    background: url('http://localhost/img/trash.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#removeQuestion:hover,
.removeVariant:hover {
    background-color: rgb(249, 86, 86);
}

#variant {
    margin-top: 5px;
    margin-bottom: 5px;
}




















#questionTypeText {
    font-size: 19px;
    font-weight: 600;
    margin-top: 13px;
    margin-bottom: 7px;
}

#variantList {
    margin-bottom: 7px;
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="radio"]:checked+label,
input[type="radio"]:not(:checked)+label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="radio"]:checked+label:before,
input[type="radio"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="radio"]:checked+label:before,
input[type="radio"]:not(:checked)+label:before {
    border-radius: 100%;
}

input[type="radio"]:checked+label:after,
input[type="radio"]:not(:checked)+label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="radio"]:checked+label:after,
input[type="radio"]:not(:checked)+label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #e145a3;
}

input[type="checkbox"]:not(:checked)+label:after,
input[type="radio"]:not(:checked)+label:after {
    opacity: 0;
}

input[type="checkbox"]:checked+label:after,
input[type="radio"]:checked+label:after {
    opacity: 1;
}