.block#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block#authDiv {
    background-color: aqua;
    padding: 50px;
    border-radius: 10px;
}

input {
    margin-bottom: 10px;
    display: block;
}