* {
    font-size: 21px;
}

.block#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block#subMain {
    margin-top: 40px;
    width: 1000px;
    background-color: #9896F1;
    border-radius: 7px;
    padding: 50px 30px;
    margin-bottom: 40px;
}

.container#answer {
    border-radius: 6px;
    padding: 10px 20px;
    background-color: #D59BF6;
    transition: background-color 0.3s;
    margin-bottom: 15px
}

.container#answer:hover {
    transition: 0.3s;
    background-color: #ff89f5;
}